.App {
  font-family: sans-serif;
  
}



.movie-container{
  width:400px;
}
.movieposter{
  width:400px;
  height:600px;
  object-fit: cover;
  border-radius: 15px;
}
.moviespecs{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  
}
.moviesummary{
  margin-left: 0;
}
.btn-like,.btn-dislike{
  margin: 2px;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin: 20px;
}
.movie-details-container{
  max-width: 800px;
  max-height: 700px;
}
.Add-movies-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
